@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

/* Body Style */
body {
  background-color: var(--Light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* h1 style */
h1 {
  color: var(--Dark-grayish-cyan);
  letter-spacing: 10px;
  font-size: 20px;
}

/* Container Style*/
.container {
  background-color: var(--White);
  display: flex;
  width: 43rem;
  margin: 15px 0;
  padding: 30px;
  border-radius: 25px;
  column-gap: 30px;
}

/* First Container */
.container-one {
  width: 50%;
}

p {
  color: var(--Dark-grayish-cyan);
  font-size: 12px;
}

.image {
  position: absolute;
  margin: 17px;
  width: 10px;
}

.amount {
  background-color: var(--Very-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: right;
  height: 2.5rem;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.amount::placeholder {
  color: var(--Grayish-cyan);
}

.amount:hover,
.custom:hover {
  outline: 2px solid var(--Dark-grayish-cyan);
}

.amount:focus,
.custom:focus {
  outline: 0;
}

/* First container second item */
.container-one-item2 {
  margin: 30px 0 30px 0;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.percentage {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  font-family: 'Space Mono', monospace;
  border: none;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

.percentage:hover {
  background-color: var(--Light-grayish-cyan);
  color: var(--Very-dark-cyan);
  cursor: pointer;
}

.percentage:focus {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.custom {
  background-color: var(--Very-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding-right: 10px;
  text-align: right;
}

.people-input {
  display: flex;
  justify-content: space-between;
}

.container-one-item small {
  color: orangered;
  visibility: hidden;
}

.container-one-item.second.error input {
  border: 2px solid red;
}

.container-one-item.second.error small {
  visibility: visible;
}

.container-one-item.second.success input {
  border: none;
}

.container-one-item.second.success small {
  display: none;
}

/* Second container */
.container-two {
  background-color: var(--Very-dark-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border-radius: 20px;
  padding: 35px 25px 25px;
}

.container-two-item {
  display: flex;
  justify-content: space-between;
}

.container-two p {
  color: var(--White);
}

.container-two span {
  color: var(--Strong-cyan);
  font-size: 13px;
}

.container-two .screen {
  color: var(--Strong-cyan);
  font-size: 35px;
}

.container-two img {
  margin-top: 13px;
  object-fit: cover;
  width: 18px;
  height: 25px;
}

.container-two .second {
  margin-top: -60px;
}

#screen-one {
  display: flex;
}

.container-two button {
  background-color: var(--Dark-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.container-two button:hover {
  background-color: var(--Light-grayish-cyan);
}

.container-two button:focus {
  background-color: var(--Strong-cyan);
}

@media (max-width: 700px) {

    body{
        height: 100%;
    }
  .container {
    width: 22rem;
    flex-direction: column;
  }

  .container-one{
    width: 100%;
  }

  .container-two{
    margin-top: 20px;
    height: 17rem;
    width: 100%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
